@charset 'utf-8';
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
:root {
  --c1: #8B4B62;
  --c2: #BB6F6B;
  --c3: #EA9674;
  --c4: #FCBC80;
  --c5: #F7E29C;
}
html, body {
  margin: 0;
  padding: 0;
}
h1,h2 {
  margin: 0;
}
body > * {
  border: 1px dashed black;
  padding: 2em;
}
body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
  font-family: sans-serif;
}
header {
  background-color: var(--c1);
}
main {
  background-color: var(--c5);
}
.sidebar {
  background-color: var(--c2);
}
.adds {
  background-color: var(--c3);
}
footer {
  background-color: var(--c4);
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header header header"
      "sidebar main adds"
      "footer footer footer";
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
}